<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.missouri.nimh.emotion"
    android:versionCode="025"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
<!--     <uses-permission android:name="android.permission.DEVICE_POWER" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        

        
        <service
            android:name=".ActivityRecognitionService"
            android:process=":remote" >
        </service>
        
        <receiver
            android:name=".SurveyBroadcast"
            android:permission=".SurveyBroadcast"
            android:process=":remote">
            <intent-filter>
				<action android:name="edu.missouri.nimh.emotion.ACTION_SCHEDULE_ALL" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER" />
				<action android:name="edu.missouri.nimh.emotion.SUSPENSION" />
				
				<action android:name="edu.missouri.nimh.emotion.SCHEDULE_MORNING" />
				<action android:name="edu.missouri.nimh.emotion.TRIGGER_MORNING" />
				<action android:name="edu.missouri.nimh.emotion.SCHEDULE_RANDOM" />
				<action android:name="edu.missouri.nimh.emotion.TRIGGER_RANDOM" />
				<action android:name="edu.missouri.nimh.emotion.SCHEDUL_FOLLOWUP" />
				<action android:name="edu.missouri.nimh.emotion.TRIGGER_FOLLOWUP" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER_MORNING" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER_RANDOM" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER_FOLLOWUP" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER_DRINKING" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER_MOOD" />
				<action android:name="edu.missouri.nimh.emotion.REMINDER_CRAVING" />
				
<!-- 				<action android:name="android.intent.action.DATE_CHANGED" /> -->
				
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".StartupIntentReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>>
        </receiver>
        
        <receiver
            android:name=".DaemonReceiver" 
            android:exported="false" >
            <intent-filter >
<!--                 <action android:name="edu.missouri.nimh.emotion.DAEMON_NOON" /> -->
<!--                 <action android:name="edu.missouri.nimh.emotion.DAEMON_MIDN" /> -->
<!--                 <action android:name="edu.missouri.nimh.emotion.DAEMON_THRE" /> -->
                <action android:name="edu.missouri.nimh.emotion.DAEMON" />
            </intent-filter>
        </receiver>
            
        <receiver
            android:name=".location.LocationBroadcast"
            android:exported="false"
            >
            <intent-filter >
        		<action android:name="edu.missouri.nimh.emotion.START_LOCATION" />
        		<action android:name="edu.missouri.nimh.emotion.STOP_LOCATION" />
        	</intent-filter>    
        </receiver>
        
        <activity
            android:name=".activity.AdminManageActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".activity.SuspensionTimePicker"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".activity.MorningScheduler"            
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".activity.SurveyMenu"
            android:screenOrientation="portrait"
            />
        
        <activity
            android:name=".survey.XMLSurveyActivity"            
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
